.App{
  background-color:cornsilk
}

.sel{
  height:30px;
  width:200px;
  border-radius:10
}
.head{
  text-align:center;
}
.hlist{
  color:blueviolet;
  font-size:50px;
  margin-top:40px
}
.sefil{
  display:flex;
  flex-direction: row;
}
.filter{
  margin-left:20px;
  margin-top:50px;
  height: 50px;

}
.inputse{
  margin-left:50px;
  margin-top:50px;
  height: 25px;
  width:400px;
  border-radius:10px;
}
.txt{
  font-weight: 600;
  color:blueviolet
}

.App-link {
  color: #61dafb;
}

.games-list {
  padding-left: 3em;
  padding-right: 3em;
  align-content: center;
  display:flex;
  flex-direction: column;
  display:grid;
  grid-gap: 1rem;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  padding-bottom: 3em;


}
.cardstyle {
  background-color:burlywood;
  margin-Top: 10px;
  border-radius: 10px;
  padding-top: 20 rem;
 min-height:200px;
width:300px;
padding-left: 10px;
padding-right: 10px;
}
.inner{
  margin-top: 10px;
  margin-bottom:10px

}
